html {
  font-size: 20px;
}
body {
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  color: #0C344C;
  background-color: #fff;
  min-height: 100vh;
}
a {
  color: #45ABE7;
  opacity: 1 !important;
  &:hover {
    color: darken(#45ABE7, 10%);
    text-decoration: none;
  }
}
strong, b {
  font-weight: 600 !important;
}
.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  &.btn-lg {
    height: 64px;
    border: 0;
    padding: 0 1.5rem;
    line-height: 64px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }
  &.btn-sm {
    height: 40px;
    padding: 0 1rem;
    line-height: 40px;
    font-weight: 600;
    font-size: 1rem;
  }
  &.btn-primary {
    border: 0;
    background-color: transparent;
    background-image: linear-gradient(-45deg, #45ABE7 0%, #37ECBA 100%);
    transition: all 0.3s;
    &:hover {
      background-image: linear-gradient(-45deg, lighten(#45ABE7, 10%) 0%, lighten(#37ECBA, 10%) 100%);
    }
    &:active,
    &:focus {
      border: 0 !important;
      border-color: transparent;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      background-image: linear-gradient(-45deg, darken(#45ABE7, 15%) 0%, darken(#37ECBA, 15%) 100%) !important;
    }
  }
  &.btn-success {
    border: 1px solid #38C869;
    background-color: #ffffff;
    color: #39DC99;
    transition: all 0.3s;
    &:hover {
      color: #ffffff;
      background-image: linear-gradient(135deg, #32DABD 0%, #38C869 100%);
    }
    &:active,
    &:focus {
      border: 0 !important;
      color: #ffffff !important;
      border-color: transparent;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      background-image: linear-gradient(135deg, darken(#32DABD, 15%) 0%, darken(#38C869, 15%) 100%) !important;
    }
  }
  &.btn-danger {
    border: 1px solid #F271AA;
    background-color: #ffffff;
    color: #F271AA;
    transition: all 0.3s;
    &:hover {
      color: #ffffff;
      background-image: linear-gradient(135deg, #F093FB 0%, #F5576C 100%);
    }
    &:active,
    &:focus {
      border: 0 !important;
      color: #ffffff !important;
      border-color: transparent;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      background-image: linear-gradient(135deg, darken(#F093FB, 15%) 0%, darken(#F5576C, 15%) 100%) !important;
    }
  }
}
.main {
  position: relative;
  z-index: 2;
}
#header {
  z-index: 1;
}
.header {
  &__body {
    min-height: 800px;
    background-image: linear-gradient(-16deg, #80D0C7 0%, #13547A 64%);
    &.inner-page {
      min-height: 428px;
      height: 428px;
    }
  }
  &__logo {
    height: 120px;
  }
  &__content {
    padding: 85px 0 0;
    max-width: 600px;
    color: #ffffff;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 28px;
    max-width: 440px;
    margin-bottom: 72px;
  }
  &__btn {
    .btn {
      width: 240px;
    }
  }
  &__head {
    position: absolute;
    top: -32px;
    right: -92px;
    width: 600px;
    height: 600px;
    > img {
      width: 600px;
      height: 600px;
      max-width: 600px;
      max-height: 600px;
    }
    &--wrapper {
      position: relative;
    }
    &--noteup,
    &--notedown {
      position: absolute;
      top: 155px;
      right: 365px;
      -webkit-animation: noteUpBlink 8s infinite;
      -o-animation: noteUpBlink 8s infinite;
      animation: noteUpBlink 8s infinite;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 1px;
        top: 52px;
        width: 3px;
        height: 3px;
        line-height: 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-color: #fff;
      }
      .note {
        position: absolute;
        color: #ffffff;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 12px;
        opacity: 0.8;
        top: -26px;
        left: -24px;
      }
    }
    &--notedown {
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
      -o-animation-delay: 4s;
      animation-delay: 4s;
      top: 223px;
      right: 350px;
      &:after {
        top: 0;
      }
      .note {
        top: 58px;
        left: -20px;
      }
    }
  }
}

p {
  font-size: 1rem;
  color: #0C344C;
  opacity: 0.7;
  font-weight: 400;
  line-height: 28px;
}
.main-color {
  color: #0C344C !important;
}
.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.section-1200 {
  width: 1200px;
  margin: 0 auto;
  @media all and (max-width: 1240px) {
    width: auto;
    margin: 0 20px;
  }
}
.section-content {
  padding: 160px 0;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  &.section-noborder {
    border-bottom: 0;
    padding-bottom: 140px;
  }
}
.section-tabs {
  padding-top: 160px;
  border-bottom: 1px solid rgba(0,0,0,0.10);
  .container {
    position: relative;
    overflow-y: hidden;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 80%;
      height: 1px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: 10%;
      -webkit-box-shadow: 0 0 60px 62px rgba(12,52,76,0.03);
      -moz-box-shadow: 0 0 60px 62px rgba(12,52,76,0.03);
      box-shadow: 0 0 60px 62px rgba(12,52,76,0.03);
    }
  }
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mt-2 {
  margin-top: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 2rem !important;
}

.raised {
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  padding: 88px 0;
  z-index: 20;
  &.totop {
    margin-top: -80px;
    padding: 88px 0 64px;
  }
  &.tobottom {
    margin-bottom: -76px;
    padding-bottom: 48px;
  }
  &.raised-inner-form {
    margin-top: -230px;
    margin-bottom: 96px;
  }
  &__features {
    margin-top: 88px;
  }
}

.info-box {
  max-width: 450px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  @media all and (max-width: 991px) {
    max-width: 100%;
    width: 100%;
    margin-bottom: 48px;
  }
  &__title {
    border-bottom: 1px solid rgba(12,52,76,0.10);
    padding-bottom: 24px;
    > div {
      font-weight: 600;
      margin-left: 16px;
    }
  }
  &__icon {
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: 0 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.33px;
    line-height: 57px;
  }
  &__list {
    position: relative;
    padding-left: 32px;
    strong {
      font-weight: 600 !important;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: #42E97D;
    }
    &._warning {
      &:before {
        background-color: #F9CD20;
      }
    }
    &._danger {
      &:before {
        background-color: #F66176;
      }
    }
  }
  &__actions {
    margin-bottom: 32px;
    &--header {
      color: #20AD75;
      margin-bottom: 8px;
      ._icon {
        padding-right: 1px;
      }
    }
    p {
      padding-left: 56px;
      a {
        white-space: nowrap;
      }
    }
    ._toggle {
      > div {
        position: relative;
        width: 52px;
        height: 32px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        background-color: #e9e9e9;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 28px;
          height: 28px;
          background-color: #fff;
          -webkit-border-radius: 14px;
          -moz-border-radius: 14px;
          border-radius: 14px;
        }
        &._active {
          background-color: #42E97D;
          &:after {
            left: auto;
            right: 2px;
          }
        }
      }
    }
  }
  &__buttons {
    margin-bottom: 40px;
    .btn {
      width: 100%;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    position: relative;
    .backlight {
      position: absolute;
      top: 0;
      left: 20px;
      width: 90%;
      height: 444px;
      -webkit-border-radius: 45%;
      -moz-border-radius: 45%;
      border-radius: 45%;
      //background-image: linear-gradient(-45deg, #45ABE7 0%, #37ECBA 100%);
      //-webkit-box-shadow: inset hoff voff blur color;
      //-moz-box-shadow: inset hoff voff blur color;
      box-shadow: -8px -12px 90px 32px rgba(#37ECBA, 0.1);
    }
    &.info-box__right {
      .backlight {
        left: auto;
        top: auto;
        bottom: 0;
        right: 20px;
      }
      .info-box {
        @media all and (max-width: 991px) {
          margin-bottom: 0;
          margin-top: 48px;
        }
      }
    }
  }
}

.tabs.tabs-bottom.tabs-simple {
  margin-bottom: 0;
  .nav-tabs {
    margin-bottom: 48px;
     > li {
       margin-top: 0;
       margin-bottom: 0;
       line-height: 1;
       .nav-link {
         display: block;
         position: relative;
         border-bottom: 0 !important;
         margin: 0;
         font-size: 1rem;
         font-weight: 600;
         line-height: 32px;
         padding: 16px 32px;
         color: #0C344C !important;
         opacity: 0.3 !important;
         transition: opacity 0.3s;
         &:hover {
           opacity: 1 !important;
         }
         &:after {
           content: '';
           display: none;
           position: absolute;
           left: 0;
           right: 0;
           bottom: 0;
           height: 4px;
           background-image: linear-gradient(-45deg, #45ABE7 0%, #37ECBA 100%);
         }
       }
       &.active {
         .nav-link {
           opacity: 1 !important;
            &:after {
              display: block;
            }
         }
       }
     }
  }
}

.tab-content {
  &__text {
    padding: 72px 15px;
  }
  > .tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
    > .row {
      //margin-left: -200px;
      transform: translateX(-180%);
      transition: transform .7s;
    }
    &.active {
      height: auto;
      > .row {
        transform: translateX(0%);
        //margin-left: 0;
      }
    }
  }
}
.price {
  &__wrapper {
    margin-top: 90px;
    margin-bottom: 40px;
  }
  &__box {
    width: 100%;
    max-width: 280px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border: 1px solid #F9D323;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 32px;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 0px 28px 32px 2px rgba(0,0,0,0.10);
    }
    &._medium {
      border-color: #88F6FE;
    }
    &._high {
      border-color: #F092FA;
    }
  }
  &__title {
    font-weight: 600;
    line-height: 28px;
    padding: 16px 0 36px;
    border-bottom: 1px solid rgba(12,52,76,0.10);
    margin-bottom: 40px;
  }
  &__price {
    margin-bottom: 12px;
    strong {
      font-size: 2rem;
      font-weight: 700 !important;
    }
    span {
      display: inline-block;
      transform: translateY(-12px);
    }
  }
  &__button {
    padding: 20px 0 24px;
    .btn {
      width: 100%;
      max-width: 160px;
      margin: 0 auto;
    }
  }
}

.feature-box.feature-box-style-5 .feature-box-icon {
  background: transparent;
  top: -14px;
  padding: 0 1.1em;
  min-width: 40px;
}
.feature-box.feature-box-style-5 h4 {
  color: #0C344C;
}

#footer {
  background-color: #13547A;
  padding-top: 196px;
  padding-bottom: 112px;
  background-image: linear-gradient(-16deg, #80D0C7 0%, #13547A 57%);
  color: #ffffff;
  font-size: 1rem;
  .footer-content {
    max-width: 640px;
    margin: 0 auto;
  }
}
.footer {
  &__logo {
    margin-bottom: 40px;
  }
  &__text {
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 64px;
  }
  &__email > a {
    display: inline-block;
    color: #ffffff !important;
    font-weight: 300;
    margin-bottom: 32px;
  }
}
#particles-js {
  position: absolute;
  top: -100px;
  left: 40%;
  right: -100px;
  bottom: -100px;
  @media all and (max-width: 991px) {
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
  }
}
.scroll-to-top {
  opacity: 0 !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* Forms */
.form-group {
  margin-bottom: 2.5rem;
  label {
    opacity: 0.7;
  }
  .form-control,
  select.form-control {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 1rem !important;
    border-color: rgba(12,52,76,0.30);
    height: 40px;
  }
}
.form-how-work {
  button[type="submit"],
  button[type="reset"] {
    width: 100%;
  }
  select.form-control {
    height: 40px !important;
    line-height: 1 !important;
    padding-top: 0.17rem;
  }
}

/* Animation */

@-webkit-keyframes noteUpBlink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes noteUpBlink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes noteUpBlink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}